<div class="container-fluid">
    <h2 class="page-header">Stop timetable</h2>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="row form-group">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter stop name"
                               ng-model="timetableStopCtrl.stopFilter.StopNameFilter" name="stop" id="stop" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary"
                                    ng-click="timetableStopCtrl.filterStops()">
                                Filter
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-12">
                    <div class="list-group">
                        <a class="list-group-item"
                           ng-click="timetableStopCtrl.fetchStopTimetable(stop.Id)"
                           ng-repeat="stop in timetableStopCtrl.filteredStops">
                            <h4>{{stop.Name}}</h4>
                            <p>{{stop.StreetName}}, {{stop.CityName}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6"
             ng-if="timetableStopCtrl.selectedStop">
            <h3>Timetable for {{timetableStopCtrl.selectedStop.Name}}</h3>
            <div class="row form-group">
                <div class="col-lg-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span ng-if="timetableStopCtrl.selectedRoute !== null">
                                <span class="label label-default">{{timetableStopCtrl.selectedRoute.Key.ShortName}}</span> {{timetableStopCtrl.selectedRoute.Key.LongName}}
                            </span>
                            <span ng-if="timetableStopCtrl.selectedRoute === null">
                                Select a route
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="pair in timetableStopCtrl.stopTimetable">
                                <a ng-click="timetableStopCtrl.selectRoute(pair.Key)">
                                    <span class="label label-default">{{pair.Key.ShortName}}</span> {{pair.Key.LongName}} <br/>
                                    <small>{{pair.Key.Agency.Name}}</small>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12" ng-if="timetableStopCtrl.selectedRoute">
                    <table class="table">
                        <tr>
                            <th>Short name</th>
                            <th>Headsign</th>
                            <th>Arrival</th>
                            <th>Departure</th>
                        </tr>
                        <tr ng-repeat="entry in timetableStopCtrl.selectedRoute.Value">
                            <td>{{entry.ShortName}}</td>
                            <td>{{entry.Headsign}}</td>
                            <td>{{entry.ArrivalTime}}</td>
                            <td>{{entry.DepartureTime}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>