<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PublicTransport.Services.CityService" behaviorConfiguration="PublicTransport.Services.CityServiceBehavior">
        <endpoint address="http://localhost:8733/cities" binding="basicHttpBinding" contract="PublicTransport.Services.Contracts.ICityService" />
      </service>
      <service name="PublicTransport.Services.StreetService" behaviorConfiguration="PublicTransport.Services.StreetServiceBehavior">
        <endpoint address="http://localhost:8733/streets" binding="basicHttpBinding" contract="PublicTransport.Services.Contracts.IStreetService" />
      </service>
      <service name="PublicTransport.Services.ZoneService" behaviorConfiguration="PublicTransport.Services.ZoneServiceBehavior">
        <endpoint address="http://localhost:8733/zones" binding="basicHttpBinding" contract="PublicTransport.Services.Contracts.IZoneService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PublicTransport.Services.CityServiceBehavior">
          <serviceMetadata httpGetUrl="http://localhost:8733/cities" httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="PublicTransport.Services.StreetServiceBehavior">
          <serviceMetadata httpGetUrl="http://localhost:8733/streets" httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="PublicTransport.Services.ZoneServiceBehavior">
          <serviceMetadata httpGetUrl="http://localhost:8733/zones" httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>