<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PublicTransport"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=PublicTransport;Integrated Security=True;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICityService" />
        <binding name="BasicHttpBinding_IStreetService" />
        <binding name="BasicHttpBinding_IZoneService" />
        <binding name="BasicHttpBinding_IAgencyService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_ILoginService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/cities" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICityService" contract="Services.Cities.ICityService"
        name="BasicHttpBinding_ICityService" />
      <endpoint address="http://localhost:8733/streets" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IStreetService" contract="Services.Streets.IStreetService"
        name="BasicHttpBinding_IStreetService" />
      <endpoint address="http://localhost:8733/zones" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IZoneService" contract="Services.Zones.IZoneService"
        name="BasicHttpBinding_IZoneService" />
      <endpoint address="http://localhost:8733/agencies" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAgencyService" contract="Services.Agencies.IAgencyService"
        name="BasicHttpBinding_IAgencyService" />
      <endpoint address="http://localhost:8733/users" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="Services.Users.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:8733/login" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoginService" contract="Services.Login.ILoginService"
        name="BasicHttpBinding_ILoginService" />
    </client>
  </system.serviceModel>
</configuration>