<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="PublicTransport"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PublicTransport;Integrated Security=True;"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICityService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/cities" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICityService" contract="Services.CityService.ICityService"
                name="BasicHttpBinding_ICityService" />
        </client>
    </system.serviceModel>
</configuration>